<div class="catalog_pagination">
    <div class="catalog_pagination_list">

        {% if page == 1 %} 
            <a class="catalog_pagination_prev">&laquo</a>
        {% else %}
            <a class="catalog_pagination_prev" href="?category={{ category }}&page={{ arrowLeft }}">&laquo</a>
        {% endif %}
        
        {% for i in 1..pagesCount %}
            {% if i == page %}
                <a class="catalog_pagination_link catalog_pagination_active show">{{ i }}</a>
            {% elseif page <= 5 %}
                {% if i <= 9 %}
                    <a class="catalog_pagination_link show" href="?category={{ category }}&page={{ i }}">{{ i }}</a>
                {% else %}
                    <a class="catalog_pagination_link hide" href="?category={{ category }}&page={{ i }}">{{ i }}</a>
                {% endif %}
            {% elseif page > 5 and page <= (pagesCount - 4) %}
                {% if (page - 5) < i and i < (page + 5) %}
                    <a class="catalog_pagination_link show" href="?category={{ category }}&page={{ i }}">{{ i }}</a>
                {% else %}
                    <a class="catalog_pagination_link hide" href="?category={{ category }}&page={{ i }}">{{ i }}</a>
                {% endif %}
            {% elseif page > (pagesCount - 4) %}
                {% if (pagesCount - 9) < i and i <= pagesCount %}
                    <a class="catalog_pagination_link show" href="?category={{ category }}&page={{ i }}">{{ i }}</a>
                {% else %}
                    <a class="catalog_pagination_link hide" href="?category={{ category }}&page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}

        
        {% if page == pagesCount %} 
            <a class="catalog_pagination_next">&raquo;</a>
        {% else %}
            <a class="catalog_pagination_next" href="?category={{ category }}&page={{ arrowRight }}">&raquo;</a>
        {% endif %}

    </div>
</div>
      
      
       
        

        